@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "AccountManagement";
}
<div class="row">
    <div class="col-xs-12 container">
        <h1>DRAFT - Account Home</h1>
        <div class="row">
            <div class="col-xs-6">
                <button>Login</button>
            </div>
            <div class="col-xs-6">
                @Html.ActionLink("Create", "CreateAccount", "Home")
            </div>
        </div>
    </div>
</div>


